.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #eee6ff;

  width: 100vw;
}
.Wrapper {
  border-radius: 10px;
  box-shadow: -10px -10px 10px #f6f1ff, 10px 10px 10px #2300645b;
  background: #eee6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 95vw;
}

.h1 {
  margin-bottom: 20px;
}

.a {
  display: block;
  color: #333;
  text-decoration: underline;
}

.form {
  background-color: #eee6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.input {
  background-color: #eee6ff;
  box-shadow: inset -2px -2px 4px #f6f1ff, inset 2px 2px 4px #2300645b;
  border: none;
  padding: 12px 15px;
  margin: 20px 0;
  width: 100%;
  border-radius: 8px;
}

.button {
  border-radius: 20px;
  border: 1px solid #872bff;
  background-color: #872bff;
  color: #eee6ff;
  padding: 12px 45px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button.ghost {
  background-color: transparent;
  border-color: #eee6ff;
}
