.Categorie-Background{
    margin: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center; 
}


.Title{
 
    text-shadow: 2px 2px black;
    color: white;
    font-size: 80px;
    font-weight: bold;
    width: 100%;
    margin: 10px;
}
.Categorie-Background button{
    border: 2px solid white;
    border-left: none;
    border-right: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    width: 6vw;
    height: 5vh;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.5) ;
    transition: all 0.5s ease;
}

.Categorie-Background button:hover{
transform: scale(1.2);
background-color: white;
color: rgba(0, 0, 0, 0.5);
border:  2px solid rgb(0, 0, 0);
border-left: none;
border-right: none;
}