.NewsLetterContainer {
  height: 40vh;
  background-color: rgb(248 250 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: inset -3px -3px 5px #00000013, inset 3px 3px 5px #decbff8c;
}
.NewsLetterContainer * {
  margin: 15px;
}
.NewsLetterInputContainer {
  width: 50%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid gray;
}
.NewsLetterInputContainer button {
  cursor: pointer;
  flex: 1;
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  background-color: #e7e5ff;
}
.NewsLetterInputContainer input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  flex: 8;
}

@media only screen and (max-width: 768px) {
  .NewsLetterInputContainer {
    width: 80%;
    height: 50px;
  }
}
