* {
  font-family: "Brush Script MT", cursive;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: bold;
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
p,
a,
li,
div,
div button {
  font-size: 1.25rem;
}
div button {
  font-weight: bold;
}
input {
  font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {
  * {
    font-family: "Brush Script MT", cursive;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
  a,
  li,
  div,
  div button {
    font-size: 1.25rem;
  }
  div button {
    font-weight: bold;
  }
  input {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 380px) {
  * {
    font-family: "Brush Script MT", cursive;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
  a,
  li,
  div,
  div button {
    font-size: 1.25rem;
  }
  div button {
    font-weight: bold;
  }
  input {
    font-size: 1.25rem;
  }
}
