.NavBar { 
    height: 40px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



.FirstSide{
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex: 1;
}
.FirstSide div{
    margin: 25px;
}

.Language{
    cursor: pointer;
}
.SearchContainer{
    display: flex;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 10px;
}

.SearchContainer input{
    border: none;
    outline: none; 
    width: 100%;
}
.SearchContainer input:focus{
    border: none;
    outline: none; 
    width: 100%;
}
.SecondSide{
    align-items: center;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    flex: 1;
}
.ThirdSide{
    
    justify-content: flex-end;
    display: flex;
    align-items: center;
flex: 1;
text-align: center;
}
.ThirdSide div{
    margin: 25px;
}
.ThirdSide div {
    cursor: pointer;
}